<nb-layout>

  <nb-layout-header style="background-color: rgb(222, 245, 253)" fixed>

   <div>

      <a href="/signin"><img class="imgCuca" src="../../../assets/img/marca_cuca.png"></a>

   </div>

  </nb-layout-header>

  <nb-layout-column>

    <nb-card  style="border-color: #00d68f" status="success">
      <nb-card-header>Conta Bancaria</nb-card-header>
      <small>{{typeAccount}}</small>
      <nb-card-body>

          <div>
            <div>
            <p>Olá {{name}} Seja Bem vindo!</p>
            <p>Conta iniciada: {{initial | date }} </p>
            <hr>
              <small style="font-style: italic;">Banco: {{bank_code}} </small>
              <small style="font-style: italic;">Conta: {{conta}} </small>
              <small style="font-style: italic;">Agencia: {{agencia}} </small>
              <p>Saldo Conta: <strong>R$99,90</strong></p>
            </div>
          </div>

      </nb-card-body>
      <nb-card-footer>
        <p style="font-size: 18px;"> Extrato </p>
        <hr>
      </nb-card-footer>
    </nb-card>

  </nb-layout-column>

  <nb-layout-footer class="footer" fixed>
    <div>
      <a class="dev" href="#">Developer RafaelCorrea © 2021</a>
      <div>
        Avenida das Esmeraldas, nº 2657. Marília/SP - Fone: (14) 2105-9000
       </div>
    </div>


  </nb-layout-footer>

  </nb-layout>
