<nb-layout>

  <nb-layout-header style="background-color: rgb(222, 245, 253)" fixed>

   <div>

      <a href="/signin"><img class="imgCuca" src="../../../assets/img/marca_cuca.png"></a>

   </div>

  </nb-layout-header>

  <nb-layout-column>

    <nb-card  style="border-color: #00d68f" status="success">
      <nb-card-header>Conta Bancaria</nb-card-header>
      <nb-card-body>

          <div>
            <div>
            <p style="font-size:18px; font-style: italic;">Olá <small style="font-size:18px; color: #069ce2">{{infoBank.legal_name}}</small> Seja Bem vindo!</p>
            <div>
              <small style="font-size: 14px;">Tipo de conta:  <strong style="font-size: 12px;">{{infoBank.typeAccount}}</strong></small><br>
            <small style="font-size: 14px;">Conta iniciada: <strong style="font-size: 12px;">{{infoBank.createdAt | date: 'dd/MM/yyyy'}}</strong></small><br>
            <small style="font-size: 14px;">Saldo Conta: <strong style="font-size: 16px;">R$ 99,90</strong></small>
            <hr>
            <div>
              <p style="font-size:18px; font-style: italic;">Dados Bancarios</p>
              <small style="font-size: 14px;">Banco: <strong style="font-size: 12px;"> {{infoBank.bank_code}} </strong></small> <br>
              <small style="font-size: 14px;">Conta: <strong style="font-size: 12px;"> {{infoBank.conta}} </strong> </small> <br>
              <small style="font-size: 14px;">Agencia: <strong style="font-size: 12px;"> {{infoBank.agencia}} </strong></small>
            </div>
          </div>
        </div>
      </div>

    </nb-card-body>
    <nb-card-footer>
      <p style="font-size: 18px; font-style: italic;"> Configurações da Conta </p>
      <div class="form-group">
        <button nbButton size="small" nbButton outline status="danger"  (click)="open(dialog)">Deletar</button>
      </div>
      <div class="form-group">
        <button routerLink="/update/{{infoBank.id}}" nbButton size="small" nbButton outline status="warning">Alterar</button>
      </div>
      <hr>
      <div>
        <p style="font-size: 18px; font-style: italic;"> Descrição: </p>
        <small>{{infoBank.description}}</small>
      </div>
    </nb-card-footer>
  </nb-card>

</nb-layout-column>

<nb-layout-footer class="footer" fixed>
  <div>
    <a class="dev" href="https://github.com/rafaelccorrea">Developer RafaelCorrea © 2021</a>
    <div>
      Avenida das Esmeraldas, nº 2657. Marília/SP - Fone: (14) 2105-9000
    </div>
  </div>


</nb-layout-footer>

</nb-layout>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header> Exclusao de conta </nb-card-header>
    <nb-card-body> Realmente deseja excluir está conta? </nb-card-body>
    <nb-card-footer>
      <button class="mr-3" nbButton status="success" (click)="Excluir()">Continuar</button>
      <button nbButton status="danger" (click)="ref.close()">Cancelar</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
